/.idea
/venv
__pycache__/
/DATASET/model2017-1_bfm_nomouth.h5
/DATASET/shape_predictor_68_face_landmarks.dat
/DATASET/haarcascade_frontalface_default.xml
/DATASET/training/
/DATASET/trained_models/
*.pdf
*.ods
/RESULTS/
/REMOVE/
